node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

#  yarn add @react-navigation/native @react-navigation/stack expo-font expo-image-picker expo-status-bar firebase react-native-elements react-native-gesture-handler react-native-safe-area-context
